n8n/workflows/participant-onboarding-v2-IMPORT.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        -1392,
        752
      ],
      "id": "8578e0c1-4abf-4333-8b14-bf3f26e84d55",
      "name": "Telegram Trigger",
      "webhookId": "16fe2f58-318b-47d4-b99f-31244cc2572c",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "points": 0,
            "retry_count": 0,
            "participant_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "updated_at": "={{ $now }}",
            "created_at": "={{ $today }}",
            "step": "wait_phone",
            "phone": "={{ $('Telegram Trigger').item.json.message.contact.phone_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -304,
        880
      ],
      "id": "89d4f218-7cb7-4db8-b1e5-52cbab876935",
      "name": "Insert row"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353bec75-5a6c-4a0c-994a-30f73d53a334",
              "leftValue": "={{$json.object.email}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        656
      ],
      "id": "33ec437a-bdda-4e12-8e08-349da32c99d7",
      "name": "If",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Necesito tu Nombre",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        192,
        592
      ],
      "id": "6b70d858-6cf4-49f0-a50c-4fc4dd7f3aca",
      "name": "Pedir nombre",
      "webhookId": "392e88d5-de27-4e1d-b9dc-e910ef6d5913",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "points": 0,
            "retry_count": 0,
            "participant_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "updated_at": "={{ $now }}",
            "created_at": "={{ $today }}",
            "step": "wait_phone",
            "phone": "={{ $('Telegram Trigger').item.json.message.contact.phone_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        192,
        752
      ],
      "id": "898ecd7b-6a3b-4f2a-bec4-fddca5888876",
      "name": "Insertar distinct_id"
    },
    {
      "parameters": {
        "url": "https://api.superlikerslabs.com/v1/participants/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"8a728b9da584daac04ad176b03131dfe\",\n  \"campaign\": \"3z\",\n  \"query\": {\n    \"cellphone\": \"3187592616\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -304,
        656
      ],
      "id": "d8c7898d-0967-4e97-9fe8-baa84f222396",
      "name": "Buscar participante",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "participant_exists": false,
            "name": "={{ $json.result.text }}",
            "points": 0,
            "retry_count": 0,
            "participant_id": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        336,
        592
      ],
      "id": "d1cfd03f-eb35-424b-91f4-4545b00b4d1c",
      "name": "Guardar nombre"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Necesito tu Email",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        592
      ],
      "id": "7980159c-ce54-4481-b2dd-e1bb797a0337",
      "name": "Pedir email",
      "webhookId": "392e88d5-de27-4e1d-b9dc-e910ef6d5913",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "participant_exists": false,
            "name": "=",
            "points": 0,
            "retry_count": 0,
            "participant_id": 0,
            "email": "={{ $json.result.text }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        800,
        352
      ],
      "id": "57d68f6f-8671-48f4-8136-f39d4518e52e",
      "name": "Guardar email"
    },
    {
      "parameters": {
        "chatId": "={{ $('Guardar email').item.json.id }}",
        "text": "Confirma datos",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        352
      ],
      "id": "4033b79d-7e7f-4184-976d-11080b9031de",
      "name": "Resumen de datos",
      "webhookId": "712cae68-d568-472f-9acb-ff96045981be",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.result.chat.id }}",
        "action": "record_video_note"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        352
      ],
      "id": "2f14f9be-84ef-48c5-8dd5-fddda8c6d1af",
      "name": "Confirmar datos",
      "webhookId": "6c682dec-d994-42b2-a210-80e70ebafba0",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superlikerslabs.com/v1/participants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"8a728b9da584daac04ad176b03131dfe\",\n  \"campaign\": \"3z\",\n  \"query\": {\n    \"cellphone\": \"3187592616\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1232,
        352
      ],
      "id": "f4a048bf-52d6-4de5-93d6-95c3d69e3f6d",
      "name": "Buscar participante1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353bec75-5a6c-4a0c-994a-30f73d53a334",
              "leftValue": "={{$json.object.email}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        592
      ],
      "id": "c1ed8098-8b7d-4894-a34d-12b8a90eea86",
      "name": "Validar email1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "Verifica tu correo",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        800,
        592
      ],
      "id": "e37d98ab-3373-4ead-aa94-2521a2f823c9",
      "name": "Correo invalido",
      "webhookId": "392e88d5-de27-4e1d-b9dc-e910ef6d5913",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K88552433188957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "5b76c139-19e5-4144-a17b-6299e3f00dc4",
      "name": "Analyze Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        496,
        752
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.ParsedResults[0].ParsedText || \"\";\nconst cleaned = rawText.replace(/\\r/g, \"\").replace(/\\\\n/g, \"\\n\");\nconst lines = cleaned.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n// ─── FECHA ───────────────────────────────────────────────\nlet invoiceDate = null;\nconst fechaLine = lines.find(line => line.toLowerCase().startsWith(\"fecha:\"));\nif (fechaLine) {\n  const match = fechaLine.match(/(\\d{2}\\/\\d{2}\\/\\d{4})/);\n  if (match) invoiceDate = match[1];\n}\n\n// ─── NÚMERO DE FACTURA ───────────────────────────────────\n// El OCR parte \"FESF\" y \"447123\" en líneas distintas\nlet invoiceNumber = null;\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  if (line.toUpperCase().includes(\"FACT ELECTRONICA DE VENTA:\")) {\n    // Intenta extraer en la misma línea\n    const same = line.match(/FESF[\\s\\-]*(\\d+)/i);\n    if (same) { invoiceNumber = \"FESF-\" + same[1]; break; }\n    // Si no, busca en las siguientes dos líneas\n    for (let j = i + 1; j <= i + 2 && j < lines.length; j++) {\n      const next = lines[j];\n      const m = next.match(/(\\d{4,})/);\n      if (m) { invoiceNumber = \"FESF-\" + m[1]; break; }\n    }\n    break;\n  }\n}\n\n// ─── MONTO TOTAL ─────────────────────────────────────────\n// Busca la línea que tenga \"$ 6.699\" o similar (patrón: $ seguido de dígitos/puntos/comas)\n// Prioridad: línea que contenga \"$ X.XXX\" después de SUB TOTAL / antes del fin\nlet amount = null;\n\n// 1) Buscar línea explícita con signo $ y número (ej: \"$ 6.699\")\nfor (let i = 0; i < lines.length; i++) {\n  const m = lines[i].match(/^\\$\\s*([\\d.,]+)$/);\n  if (m) { amount = m[1]; break; }\n}\n\n// 2) Si no encontró, buscar dentro de cualquier línea \"$ XXXX\"\nif (!amount) {\n  for (let i = 0; i < lines.length; i++) {\n    const m = lines[i].match(/\\$\\s*([\\d]{1,3}(?:[.,]\\d{3})+(?:[.,]\\d{1,2})?)/);\n    if (m) { amount = m[1]; break; }\n  }\n}\n\n// 3) Fallback: valor numérico en la línea justo después de \"SUB TOTAL:\"\nif (!amount) {\n  const subIdx = lines.findIndex(l => l.toLowerCase().includes(\"sub total:\"));\n  if (subIdx !== -1) {\n    // Puede estar en la misma línea o en la siguiente\n    const same = lines[subIdx].match(/:\\s*([\\d.,]+)/);\n    if (same) { amount = same[1]; }\n    else if (subIdx + 1 < lines.length) {\n      const m = lines[subIdx + 1].match(/^[\\d.,]+$/);\n      if (m) amount = lines[subIdx + 1];\n    }\n  }\n}\n\n// ─── MÉTODO DE PAGO ───────────────────────────────────────\nlet paymentMethod = \"\";\nconst pagoLine = lines.find(line => line.toLowerCase().includes(\"tipo pago:\"));\nif (pagoLine) {\n  const parts = pagoLine.split(\":\");\n  if (parts.length > 1) paymentMethod = parts[1].trim();\n}\n\n// ─── NOTAS ────────────────────────────────────────────────\nlet notes = \"No tenias notas pendientes\";\nconst notaIndex = lines.findIndex(l => l.toLowerCase().includes(\"nota adicional:\"));\nif (notaIndex !== -1) {\n  const notaParts = lines[notaIndex].split(\":\");\n  if (notaParts.length > 1 && notaParts[1].trim()) {\n    notes = notaParts[1].trim();\n  } else if (notaIndex + 1 < lines.length) {\n    // Toma la siguiente línea solo si no es un encabezado de sección\n    const next = lines[notaIndex + 1];\n    if (!next.startsWith(\"-\") && !next.toUpperCase().includes(\"PRODUCTO\")) {\n      notes = next;\n    }\n  }\n}\n\n// ─── NIT / CLIENTE ───────────────────────────────────────\nlet clientName = \"\";\nlet clientNit = \"\";\nconst clienteLine = lines.find(l => l.toUpperCase().startsWith(\"CLIENTE:\"));\nif (clienteLine) {\n  const m = clienteLine.match(/CLIENTE:\\s*(.+?)\\s+CC\\/NIT\\s*:\\s*([\\d]+)/i);\n  if (m) { clientName = m[1].trim(); clientNit = m[2].trim(); }\n}\n\nreturn [{\n  json: {\n    InvoiceNumber: invoiceNumber,\n    InvoiceDate:   invoiceDate,\n    DueDate:       null,\n    Amount:        amount,\n    PaymentMethod: paymentMethod,\n    Notes:         notes,\n    ClientName:    clientName,\n    ClientNit:     clientNit,\n  }\n}];"
      },
      "id": "6e22b1af-c69c-4a15-adee-8e5e42f1d820",
      "name": "Parse Text",
      "type": "n8n-nodes-base.code",
      "position": [
        640,
        752
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "text": "=Pásame otra foto",
        "additionalFields": {}
      },
      "id": "a1e214f9-5fb6-4a3a-be64-c265d966bf01",
      "name": "Pedir nueva foto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2192,
        480
      ],
      "webhookId": "56f1c733-7ccb-43a3-ad9f-0192118b9992",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superlikerslabs.com/v1/retail/buy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"8a728b9da584daac04ad176b03131dfe\",\n  \"campaign\": \"3z\",\n  \"query\": {\n    \"cellphone\": \"3187592616\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2192,
        288
      ],
      "id": "d52d47a6-19b4-4fd9-9f12-d0a74f4f89d0",
      "name": "Guardar foto",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "participant_id",
              "keyValue": "={{ $json.message.chat.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1264,
        752
      ],
      "id": "c94f6f36-6f03-42dc-97f3-78f074b26a1b",
      "name": "Buscar sesión",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.participant_exists }}",
                    "rightValue": "={{ $('Telegram Trigger').item.json.message.reply_to_message.from.id }}",
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "734b4482-b247-4b65-98ad-50198fcf9e11"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd3329d1-fdb1-4725-ab82-08d51236b634",
                    "leftValue": "={{ $json.participant_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1120,
        752
      ],
      "id": "80681695-1017-4ad0-b1f9-7879365c93d6",
      "name": "¿Existe sesión?"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "participant_exists": false,
            "participant_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "points": 0,
            "retry_count": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -896,
        672
      ],
      "id": "ad808e9d-4264-42af-a46c-88d3ca276853",
      "name": "Crear sesión"
    },
    {
      "parameters": {
        "resource": "chat",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -752,
        672
      ],
      "id": "5b9636e6-5664-4465-bb4a-41082b0b6ee9",
      "name": "Bienvenida",
      "webhookId": "b5ea4b04-b6db-4804-a8b1-4d9d2e817ecf",
      "alwaysOutputData": true,
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{\n  /^57(3\\d{9})$/.test(\n    ($json.message.contact?.phone_number ?? $json.message.text ?? \"\")\n      .replace(/\\D/g, \"\")\n  )\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "12d867e0-fd93-4f06-8b05-9aa058bca20b",
      "name": "Validar",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -464,
        672
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot8994667126:AAELpj80MEEEI7FHTutjP0KyO9O7GQ8-MuY/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{$json.result.id}}\",\n  \"text\": \"¡Hola! 👋 Bienvenido a la campaña. Para empezar, escríbeme tu número de celular (solo números).\",\n  \"reply_markup\": {\n    \"keyboard\": [\n      [\n        {\n          \"text\": \"📱 Compartir teléfono\",\n          \"request_contact\": true\n        }\n      ]\n    ],\n    \"resize_keyboard\": true,\n    \"one_time_keyboard\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        672
      ],
      "id": "2e635335-25d5-4683-a4a5-90fb01defc69",
      "name": "Esperar Teléfono"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "points": 0,
            "retry_count": 0,
            "participant_id": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "name": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
            "updated_at": "={{ $now }}",
            "created_at": "={{ $today }}",
            "step": "wait_phone",
            "phone": "={{ $('Telegram Trigger').item.json.message.contact.phone_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -896,
        848
      ],
      "id": "596d564f-6a11-4cda-9286-006f1754b693",
      "name": "Leer Step"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.participant_exists }}",
                    "rightValue": "={{ $('Telegram Trigger').item.json.message.reply_to_message.from.id }}",
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "734b4482-b247-4b65-98ad-50198fcf9e11"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dd3329d1-fdb1-4725-ab82-08d51236b634",
                    "leftValue": "={{ $json.participant_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "number",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -736,
        848
      ],
      "id": "e7c73dc8-7ca4-4a99-bb82-97447480576a",
      "name": "Switch(step)"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "id": "3cc28103-6fff-4d06-a9cd-b87055d3be27",
      "name": "Pedir Foto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        352,
        752
      ],
      "webhookId": "8c2e9cc6-18b2-42b6-87f5-5f23e7633ce1",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.ParsedResults[0].ParsedText || \"\";\nconst cleaned = rawText.replace(/\\r/g, \"\").replace(/\\\\n/g, \"\\n\");\nconst lines = cleaned.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n// ─── FECHA ───────────────────────────────────────────────\nlet invoiceDate = null;\nconst fechaLine = lines.find(line => line.toLowerCase().startsWith(\"fecha:\"));\nif (fechaLine) {\n  const match = fechaLine.match(/(\\d{2}\\/\\d{2}\\/\\d{4})/);\n  if (match) invoiceDate = match[1];\n}\n\n// ─── NÚMERO DE FACTURA ───────────────────────────────────\n// El OCR parte \"FESF\" y \"447123\" en líneas distintas\nlet invoiceNumber = null;\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  if (line.toUpperCase().includes(\"FACT ELECTRONICA DE VENTA:\")) {\n    // Intenta extraer en la misma línea\n    const same = line.match(/FESF[\\s\\-]*(\\d+)/i);\n    if (same) { invoiceNumber = \"FESF-\" + same[1]; break; }\n    // Si no, busca en las siguientes dos líneas\n    for (let j = i + 1; j <= i + 2 && j < lines.length; j++) {\n      const next = lines[j];\n      const m = next.match(/(\\d{4,})/);\n      if (m) { invoiceNumber = \"FESF-\" + m[1]; break; }\n    }\n    break;\n  }\n}\n\n// ─── MONTO TOTAL ─────────────────────────────────────────\n// Busca la línea que tenga \"$ 6.699\" o similar (patrón: $ seguido de dígitos/puntos/comas)\n// Prioridad: línea que contenga \"$ X.XXX\" después de SUB TOTAL / antes del fin\nlet amount = null;\n\n// 1) Buscar línea explícita con signo $ y número (ej: \"$ 6.699\")\nfor (let i = 0; i < lines.length; i++) {\n  const m = lines[i].match(/^\\$\\s*([\\d.,]+)$/);\n  if (m) { amount = m[1]; break; }\n}\n\n// 2) Si no encontró, buscar dentro de cualquier línea \"$ XXXX\"\nif (!amount) {\n  for (let i = 0; i < lines.length; i++) {\n    const m = lines[i].match(/\\$\\s*([\\d]{1,3}(?:[.,]\\d{3})+(?:[.,]\\d{1,2})?)/);\n    if (m) { amount = m[1]; break; }\n  }\n}\n\n// 3) Fallback: valor numérico en la línea justo después de \"SUB TOTAL:\"\nif (!amount) {\n  const subIdx = lines.findIndex(l => l.toLowerCase().includes(\"sub total:\"));\n  if (subIdx !== -1) {\n    // Puede estar en la misma línea o en la siguiente\n    const same = lines[subIdx].match(/:\\s*([\\d.,]+)/);\n    if (same) { amount = same[1]; }\n    else if (subIdx + 1 < lines.length) {\n      const m = lines[subIdx + 1].match(/^[\\d.,]+$/);\n      if (m) amount = lines[subIdx + 1];\n    }\n  }\n}\n\n// ─── MÉTODO DE PAGO ───────────────────────────────────────\nlet paymentMethod = \"\";\nconst pagoLine = lines.find(line => line.toLowerCase().includes(\"tipo pago:\"));\nif (pagoLine) {\n  const parts = pagoLine.split(\":\");\n  if (parts.length > 1) paymentMethod = parts[1].trim();\n}\n\n// ─── NOTAS ────────────────────────────────────────────────\nlet notes = \"No tenias notas pendientes\";\nconst notaIndex = lines.findIndex(l => l.toLowerCase().includes(\"nota adicional:\"));\nif (notaIndex !== -1) {\n  const notaParts = lines[notaIndex].split(\":\");\n  if (notaParts.length > 1 && notaParts[1].trim()) {\n    notes = notaParts[1].trim();\n  } else if (notaIndex + 1 < lines.length) {\n    // Toma la siguiente línea solo si no es un encabezado de sección\n    const next = lines[notaIndex + 1];\n    if (!next.startsWith(\"-\") && !next.toUpperCase().includes(\"PRODUCTO\")) {\n      notes = next;\n    }\n  }\n}\n\n// ─── NIT / CLIENTE ───────────────────────────────────────\nlet clientName = \"\";\nlet clientNit = \"\";\nconst clienteLine = lines.find(l => l.toUpperCase().startsWith(\"CLIENTE:\"));\nif (clienteLine) {\n  const m = clienteLine.match(/CLIENTE:\\s*(.+?)\\s+CC\\/NIT\\s*:\\s*([\\d]+)/i);\n  if (m) { clientName = m[1].trim(); clientNit = m[2].trim(); }\n}\n\nreturn [{\n  json: {\n    InvoiceNumber: invoiceNumber,\n    InvoiceDate:   invoiceDate,\n    DueDate:       null,\n    Amount:        amount,\n    PaymentMethod: paymentMethod,\n    Notes:         notes,\n    ClientName:    clientName,\n    ClientNit:     clientNit,\n  }\n}];"
      },
      "id": "179f5dd2-2d09-4009-b9e1-70f238e444d1",
      "name": "Parse Text1",
      "type": "n8n-nodes-base.code",
      "position": [
        1728,
        352
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "id": "1be5c057-2072-4e2b-a649-741d65bca668",
      "name": "Pedir Foto1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1408,
        352
      ],
      "webhookId": "8c2e9cc6-18b2-42b6-87f5-5f23e7633ce1",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superlikerslabs.com/v1/entries/accept",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"8a728b9da584daac04ad176b03131dfe\",\n  \"campaign\": \"3z\",\n  \"query\": {\n    \"cellphone\": \"3187592616\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2352,
        288
      ],
      "id": "2aff9317-0abf-4e29-bb8c-e8ca4e6b598a",
      "name": "POST /photos",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K88552433188957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "64d69a3a-638b-484b-956d-97aa09ce9f03",
      "name": "GPT Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1584,
        352
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353bec75-5a6c-4a0c-994a-30f73d53a334",
              "leftValue": "={{$json.object.email}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1904,
        352
      ],
      "id": "ce9f92a6-7b07-4b14-9631-d761dc1e8f72",
      "name": "¿Factura legible?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
        "text": "=🎉 Ganaste 250 puntos",
        "additionalFields": {}
      },
      "id": "3e73e1ac-baa4-4e66-b89f-2ab464318dbe",
      "name": "🎉 Ganaste puntos",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        288
      ],
      "webhookId": "56f1c733-7ccb-43a3-ad9f-0192118b9992",
      "credentials": {
        "telegramApi": {
          "id": "b4unBNxGc9bU0vnW",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "participant_exists": false,
            "name": "=",
            "points": 0,
            "retry_count": 0,
            "participant_id": 0,
            "email": "={{ $json.result.text }}",
            "step": "Completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2688,
        288
      ],
      "id": "00a86f55-8970-4ccd-8abb-0f650ffd9a4d",
      "name": "step = completed"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Buscar sesión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Pedir nombre",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insertar distinct_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir nombre": {
      "main": [
        [
          {
            "node": "Guardar nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar distinct_id": {
      "main": [
        [
          {
            "node": "Pedir Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar participante": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar nombre": {
      "main": [
        [
          {
            "node": "Pedir email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir email": {
      "main": [
        [
          {
            "node": "Validar email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar email": {
      "main": [
        [
          {
            "node": "Resumen de datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resumen de datos": {
      "main": [
        [
          {
            "node": "Confirmar datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar datos": {
      "main": [
        [
          {
            "node": "Buscar participante1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar participante1": {
      "main": [
        [
          {
            "node": "Pedir Foto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar email1": {
      "main": [
        [
          {
            "node": "Guardar email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Correo invalido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Parse Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text": {
      "main": [
        []
      ]
    },
    "Guardar foto": {
      "main": [
        [
          {
            "node": "POST /photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar sesión": {
      "main": [
        [
          {
            "node": "¿Existe sesión?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe sesión?": {
      "main": [
        [
          {
            "node": "Crear sesión",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Leer Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear sesión": {
      "main": [
        [
          {
            "node": "Bienvenida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bienvenida": {
      "main": [
        [
          {
            "node": "Esperar Teléfono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar": {
      "main": [
        [
          {
            "node": "Buscar participante",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Teléfono": {
      "main": [
        [
          {
            "node": "Validar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Step": {
      "main": [
        [
          {
            "node": "Switch(step)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Foto": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text1": {
      "main": [
        [
          {
            "node": "¿Factura legible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Foto1": {
      "main": [
        [
          {
            "node": "GPT Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /photos": {
      "main": [
        [
          {
            "node": "🎉 Ganaste puntos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Vision OCR": {
      "main": [
        [
          {
            "node": "Parse Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Factura legible?": {
      "main": [
        [
          {
            "node": "Guardar foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir nueva foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎉 Ganaste puntos": {
      "main": [
        [
          {
            "node": "step = completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cca5b06260766944c413e282cec0d1fe42468bf6ebf1048568362e98babb6a47"
  }
}