n8n/workflows/participant-onboarding-v2-IMPORT.json
{
  "name": "Participant Onboarding v1",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $vars.SUPERLIKERS_BASE_URL + '/participants/search' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{$vars.SUPERLIKERS_API_KEY}}\",\n  \"campaign\": \"{{$vars.SUPERLIKERS_CAMPAIGN}}\",\n  \"query\": {\n    \"cellphone\": {{ $('Edit Fields').item.json.phone }}\"\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1488,
        736
      ],
      "id": "d8c7898d-0967-4e97-9fe8-baa84f222396",
      "name": "Buscar participante",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K88552433188957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "5b76c139-19e5-4144-a17b-6299e3f00dc4",
      "name": "Analyze Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -704,
        720
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.ParsedResults[0].ParsedText || \"\";\nconst cleaned = rawText.replace(/\\r/g, \"\").replace(/\\\\n/g, \"\\n\");\nconst lines = cleaned.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n// ─── FECHA ───────────────────────────────────────────────\nlet invoiceDate = null;\nconst fechaLine = lines.find(line => line.toLowerCase().startsWith(\"fecha:\"));\nif (fechaLine) {\n  const match = fechaLine.match(/(\\d{2}\\/\\d{2}\\/\\d{4})/);\n  if (match) invoiceDate = match[1];\n}\n\n// ─── NÚMERO DE FACTURA ───────────────────────────────────\n// El OCR parte \"FESF\" y \"447123\" en líneas distintas\nlet invoiceNumber = null;\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  if (line.toUpperCase().includes(\"FACT ELECTRONICA DE VENTA:\")) {\n    // Intenta extraer en la misma línea\n    const same = line.match(/FESF[\\s\\-]*(\\d+)/i);\n    if (same) { invoiceNumber = \"FESF-\" + same[1]; break; }\n    // Si no, busca en las siguientes dos líneas\n    for (let j = i + 1; j <= i + 2 && j < lines.length; j++) {\n      const next = lines[j];\n      const m = next.match(/(\\d{4,})/);\n      if (m) { invoiceNumber = \"FESF-\" + m[1]; break; }\n    }\n    break;\n  }\n}\n\n// ─── MONTO TOTAL ─────────────────────────────────────────\n// Busca la línea que tenga \"$ 6.699\" o similar (patrón: $ seguido de dígitos/puntos/comas)\n// Prioridad: línea que contenga \"$ X.XXX\" después de SUB TOTAL / antes del fin\nlet amount = null;\n\n// 1) Buscar línea explícita con signo $ y número (ej: \"$ 6.699\")\nfor (let i = 0; i < lines.length; i++) {\n  const m = lines[i].match(/^\\$\\s*([\\d.,]+)$/);\n  if (m) { amount = m[1]; break; }\n}\n\n// 2) Si no encontró, buscar dentro de cualquier línea \"$ XXXX\"\nif (!amount) {\n  for (let i = 0; i < lines.length; i++) {\n    const m = lines[i].match(/\\$\\s*([\\d]{1,3}(?:[.,]\\d{3})+(?:[.,]\\d{1,2})?)/);\n    if (m) { amount = m[1]; break; }\n  }\n}\n\n// 3) Fallback: valor numérico en la línea justo después de \"SUB TOTAL:\"\nif (!amount) {\n  const subIdx = lines.findIndex(l => l.toLowerCase().includes(\"sub total:\"));\n  if (subIdx !== -1) {\n    // Puede estar en la misma línea o en la siguiente\n    const same = lines[subIdx].match(/:\\s*([\\d.,]+)/);\n    if (same) { amount = same[1]; }\n    else if (subIdx + 1 < lines.length) {\n      const m = lines[subIdx + 1].match(/^[\\d.,]+$/);\n      if (m) amount = lines[subIdx + 1];\n    }\n  }\n}\n\n// ─── MÉTODO DE PAGO ───────────────────────────────────────\nlet paymentMethod = \"\";\nconst pagoLine = lines.find(line => line.toLowerCase().includes(\"tipo pago:\"));\nif (pagoLine) {\n  const parts = pagoLine.split(\":\");\n  if (parts.length > 1) paymentMethod = parts[1].trim();\n}\n\n// ─── NOTAS ────────────────────────────────────────────────\nlet notes = \"No tenias notas pendientes\";\nconst notaIndex = lines.findIndex(l => l.toLowerCase().includes(\"nota adicional:\"));\nif (notaIndex !== -1) {\n  const notaParts = lines[notaIndex].split(\":\");\n  if (notaParts.length > 1 && notaParts[1].trim()) {\n    notes = notaParts[1].trim();\n  } else if (notaIndex + 1 < lines.length) {\n    // Toma la siguiente línea solo si no es un encabezado de sección\n    const next = lines[notaIndex + 1];\n    if (!next.startsWith(\"-\") && !next.toUpperCase().includes(\"PRODUCTO\")) {\n      notes = next;\n    }\n  }\n}\n\n// ─── NIT / CLIENTE ───────────────────────────────────────\nlet clientName = \"\";\nlet clientNit = \"\";\nconst clienteLine = lines.find(l => l.toUpperCase().startsWith(\"CLIENTE:\"));\nif (clienteLine) {\n  const m = clienteLine.match(/CLIENTE:\\s*(.+?)\\s+CC\\/NIT\\s*:\\s*([\\d]+)/i);\n  if (m) { clientName = m[1].trim(); clientNit = m[2].trim(); }\n}\n\nreturn [{\n  json: {\n    InvoiceNumber: invoiceNumber,\n    InvoiceDate:   invoiceDate,\n    DueDate:       null,\n    Amount:        amount,\n    PaymentMethod: paymentMethod,\n    Notes:         notes,\n    ClientName:    clientName,\n    ClientNit:     clientNit,\n  }\n}];"
      },
      "id": "6e22b1af-c69c-4a15-adee-8e5e42f1d820",
      "name": "Parse Text",
      "type": "n8n-nodes-base.code",
      "position": [
        -512,
        720
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superlikerslabs.com/v1/retail/buy",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"8a728b9da584daac04ad176b03131dfe\",\n  \"campaign\": \"3z\",\n  \"query\": {\n    \"cellphone\": \"3187592616\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -400,
        384
      ],
      "id": "d52d47a6-19b4-4fd9-9f12-d0a74f4f89d0",
      "name": "Guardar foto",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "=wait_phone",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "734b4482-b247-4b65-98ad-50198fcf9e11"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nombre"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d15f0f6d-e18c-408c-b738-263978453d74",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "wait_email",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "68a4b51f-f26b-40b1-bc40-f5393ba5bd92",
                    "leftValue": "={{ $json.step }}",
                    "rightValue": "wait_confirm",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Confirmar datos"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1808,
        544
      ],
      "id": "80681695-1017-4ad0-b1f9-7879365c93d6",
      "name": "¿Existe sesión?"
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.ParsedResults[0].ParsedText || \"\";\nconst cleaned = rawText.replace(/\\r/g, \"\").replace(/\\\\n/g, \"\\n\");\nconst lines = cleaned.split(\"\\n\").map(l => l.trim()).filter(Boolean);\n\n// ─── FECHA ───────────────────────────────────────────────\nlet invoiceDate = null;\nconst fechaLine = lines.find(line => line.toLowerCase().startsWith(\"fecha:\"));\nif (fechaLine) {\n  const match = fechaLine.match(/(\\d{2}\\/\\d{2}\\/\\d{4})/);\n  if (match) invoiceDate = match[1];\n}\n\n// ─── NÚMERO DE FACTURA ───────────────────────────────────\n// El OCR parte \"FESF\" y \"447123\" en líneas distintas\nlet invoiceNumber = null;\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  if (line.toUpperCase().includes(\"FACT ELECTRONICA DE VENTA:\")) {\n    // Intenta extraer en la misma línea\n    const same = line.match(/FESF[\\s\\-]*(\\d+)/i);\n    if (same) { invoiceNumber = \"FESF-\" + same[1]; break; }\n    // Si no, busca en las siguientes dos líneas\n    for (let j = i + 1; j <= i + 2 && j < lines.length; j++) {\n      const next = lines[j];\n      const m = next.match(/(\\d{4,})/);\n      if (m) { invoiceNumber = \"FESF-\" + m[1]; break; }\n    }\n    break;\n  }\n}\n\n// ─── MONTO TOTAL ─────────────────────────────────────────\n// Busca la línea que tenga \"$ 6.699\" o similar (patrón: $ seguido de dígitos/puntos/comas)\n// Prioridad: línea que contenga \"$ X.XXX\" después de SUB TOTAL / antes del fin\nlet amount = null;\n\n// 1) Buscar línea explícita con signo $ y número (ej: \"$ 6.699\")\nfor (let i = 0; i < lines.length; i++) {\n  const m = lines[i].match(/^\\$\\s*([\\d.,]+)$/);\n  if (m) { amount = m[1]; break; }\n}\n\n// 2) Si no encontró, buscar dentro de cualquier línea \"$ XXXX\"\nif (!amount) {\n  for (let i = 0; i < lines.length; i++) {\n    const m = lines[i].match(/\\$\\s*([\\d]{1,3}(?:[.,]\\d{3})+(?:[.,]\\d{1,2})?)/);\n    if (m) { amount = m[1]; break; }\n  }\n}\n\n// 3) Fallback: valor numérico en la línea justo después de \"SUB TOTAL:\"\nif (!amount) {\n  const subIdx = lines.findIndex(l => l.toLowerCase().includes(\"sub total:\"));\n  if (subIdx !== -1) {\n    // Puede estar en la misma línea o en la siguiente\n    const same = lines[subIdx].match(/:\\s*([\\d.,]+)/);\n    if (same) { amount = same[1]; }\n    else if (subIdx + 1 < lines.length) {\n      const m = lines[subIdx + 1].match(/^[\\d.,]+$/);\n      if (m) amount = lines[subIdx + 1];\n    }\n  }\n}\n\n// ─── MÉTODO DE PAGO ───────────────────────────────────────\nlet paymentMethod = \"\";\nconst pagoLine = lines.find(line => line.toLowerCase().includes(\"tipo pago:\"));\nif (pagoLine) {\n  const parts = pagoLine.split(\":\");\n  if (parts.length > 1) paymentMethod = parts[1].trim();\n}\n\n// ─── NOTAS ────────────────────────────────────────────────\nlet notes = \"No tenias notas pendientes\";\nconst notaIndex = lines.findIndex(l => l.toLowerCase().includes(\"nota adicional:\"));\nif (notaIndex !== -1) {\n  const notaParts = lines[notaIndex].split(\":\");\n  if (notaParts.length > 1 && notaParts[1].trim()) {\n    notes = notaParts[1].trim();\n  } else if (notaIndex + 1 < lines.length) {\n    // Toma la siguiente línea solo si no es un encabezado de sección\n    const next = lines[notaIndex + 1];\n    if (!next.startsWith(\"-\") && !next.toUpperCase().includes(\"PRODUCTO\")) {\n      notes = next;\n    }\n  }\n}\n\n// ─── NIT / CLIENTE ───────────────────────────────────────\nlet clientName = \"\";\nlet clientNit = \"\";\nconst clienteLine = lines.find(l => l.toUpperCase().startsWith(\"CLIENTE:\"));\nif (clienteLine) {\n  const m = clienteLine.match(/CLIENTE:\\s*(.+?)\\s+CC\\/NIT\\s*:\\s*([\\d]+)/i);\n  if (m) { clientName = m[1].trim(); clientNit = m[2].trim(); }\n}\n\nreturn [{\n  json: {\n    InvoiceNumber: invoiceNumber,\n    InvoiceDate:   invoiceDate,\n    DueDate:       null,\n    Amount:        amount,\n    PaymentMethod: paymentMethod,\n    Notes:         notes,\n    ClientName:    clientName,\n    ClientNit:     clientNit,\n  }\n}];"
      },
      "id": "179f5dd2-2d09-4009-b9e1-70f238e444d1",
      "name": "Parse Text1",
      "type": "n8n-nodes-base.code",
      "position": [
        -912,
        576
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.superlikerslabs.com/v1/entries/accept",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"8a728b9da584daac04ad176b03131dfe\",\n  \"campaign\": \"3z\",\n  \"query\": {\n    \"cellphone\": \"3187592616\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -208,
        384
      ],
      "id": "2aff9317-0abf-4e29-bb8c-e8ca4e6b598a",
      "name": "POST /photos",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K88552433188957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "64d69a3a-638b-484b-956d-97aa09ce9f03",
      "name": "GPT Vision OCR",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1104,
        576
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353bec75-5a6c-4a0c-994a-30f73d53a334",
              "leftValue": "={{$json.object.email}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        560
      ],
      "id": "ce9f92a6-7b07-4b14-9631-d761dc1e8f72",
      "name": "¿Factura legible?",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "participant_exists": false,
            "name": "=",
            "points": 0,
            "retry_count": 0,
            "participant_id": 0,
            "email": "={{ $json.result.text }}",
            "step": "Completed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "session_key",
              "displayName": "session_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entry_id",
              "displayName": "entry_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_url",
              "displayName": "photo_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_data",
              "displayName": "invoice_data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "last_error",
              "displayName": "last_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_exists",
              "displayName": "participant_exists",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "participant_id",
              "displayName": "participant_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        160,
        384
      ],
      "id": "00a86f55-8970-4ccd-8abb-0f650ffd9a4d",
      "name": "step = completed"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "twilio-whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2640,
        672
      ],
      "id": "3421023a-fe7c-45bb-a09d-bc226622daaf",
      "name": "Webhook",
      "webhookId": "3a9af573-6698-4ef5-8da1-d76971ceeaf5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1fcabff-341f-46b9-945c-493002200700",
              "name": "phone",
              "value": "={{ $json.body.From.replace('whatsapp:+57','') }}",
              "type": "string"
            },
            {
              "id": "c74540ee-b868-4959-8864-1f99ceeae26f",
              "name": "phone_e164",
              "value": "={{ $json.body.From }}",
              "type": "string"
            },
            {
              "id": "a228ee55-2837-41f2-a071-0baa477da5d8",
              "name": "message",
              "value": "={{ $json.body.Body }}",
              "type": "string"
            },
            {
              "id": "7ee68049-8c28-415c-a3e2-3ae948bdb682",
              "name": "profile_name",
              "value": "={{ $json.body.ProfileName }}",
              "type": "string"
            },
            {
              "id": "5fbe1ea3-ea4c-4e6b-bc5e-fe3630cb5c7e",
              "name": "media_count",
              "value": "={{ $json.body.ReferralNumMedia }}",
              "type": "string"
            },
            {
              "id": "387291a1-521d-42fe-9e88-03672b263aa4",
              "name": "media_url",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            },
            {
              "id": "f9e95a92-d39b-4c87-af62-78a77b7dbfe5",
              "name": "message_sid",
              "value": "={{ $json.body.SmsMessageSid }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2480,
        672
      ],
      "id": "184deeba-bef1-4d2b-8579-2150ba75185e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $json.phone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2336,
        672
      ],
      "id": "596d564f-6a11-4cda-9286-006f1754b693",
      "name": "Buscar sesion",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "={{ $('Edit Fields').item.json.phone }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "029dd86d-7206-4b5e-a103-79f1d0feec95",
      "name": "Validar3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2192,
        672
      ]
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "¡Hola! 👋 Bienvenido a la campaña. Para empezar, escríbeme tu nombre.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1648,
        736
      ],
      "id": "215baebd-fe30-4bbb-8f74-4776b81dfaea",
      "name": "Dame tu nombre",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $('Edit Fields').item.json.phone }}",
            "step": "wait_phone",
            "distinct_id": 0,
            "points": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1808,
        736
      ],
      "id": "a3b96ac6-5afe-432e-9394-5440e3ad8e39",
      "name": "Guardar telefono",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{\n/^\\d{10}$/.test($('Edit Fields').item.json.phone)\n}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d760fb86-d9c7-42fc-9e0b-c2d67629288b",
      "name": "Validar phone 10",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2000,
        720
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "matchType": "allConditions"
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1952,
        544
      ],
      "id": "272d894f-41a1-4a36-8515-e623e4a63f67",
      "name": "Buscar sesion2",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "step",
              "keyValue": "wait_phone"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": 0,
            "distinct_id": 0,
            "points": 0,
            "name": "={{ $('Edit Fields').item.json.message }}",
            "step": "wait_name"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1472,
        128
      ],
      "id": "8e7e2c31-11ad-455f-9921-010b3af26df3",
      "name": "Guardar nombre1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "Dame tu Email.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1312,
        128
      ],
      "id": "635fceda-085e-4a77-80ab-76017bf0382e",
      "name": "Dame tu email.",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "Dame tu Email.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1472,
        416
      ],
      "id": "1a40ae2c-c68f-4c86-90b4-7be0f25f0242",
      "name": "Dame tu email.1",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "step",
              "keyValue": "wait_email"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": 0,
            "distinct_id": 0,
            "points": 0,
            "name": "=",
            "step": "wait_email",
            "email": "={{ $('Edit Fields').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1632,
        416
      ],
      "id": "4f53630a-7029-4162-b0bc-94cf46dc1674",
      "name": "Guardar email1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "o6lmYpKmZj2F3a8y",
          "mode": "list",
          "cachedResultName": "superlikers_sessions",
          "cachedResultUrl": "/projects/jAePvWaIZN1495Dv/datatables/o6lmYpKmZj2F3a8y"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "phone",
              "keyValue": "={{ $('Edit Fields').item.json.phone }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "=",
            "step": "wait_name",
            "distinct_id": 0,
            "points": 0,
            "name": "="
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "distinct_id",
              "displayName": "distinct_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "photo_id",
              "displayName": "photo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "invoice_ref",
              "displayName": "invoice_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "points",
              "displayName": "points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1072,
        720
      ],
      "id": "182b57cf-9693-4557-b242-a645533e9e14",
      "name": "Guardar distinct_id",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ $json.phone }}",
              "rightValue": "={{ $('Edit Fields').item.json.phone }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2cc10ce3-fdad-4467-8af3-e5a291b1231d",
      "name": "Validar si existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1312,
        736
      ]
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "El campo esta vacio",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1472,
        272
      ],
      "id": "cf1730fd-347d-41cf-812d-91273acd7f2a",
      "name": "Campo vacio",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
              "leftValue": "={{ !$('Edit Fields').item.json.message }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ac857c0-439d-43ca-ae96-5d7a83fbcbb9",
      "name": "Validar campo vacio",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1632,
        256
      ]
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "Confirmemos: Nombre: Juan Pérez, Celular: 3001234567, Correo: juan@mail.com. ¿Es correcto? Responde SÍ para continuar.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1616,
        576
      ],
      "id": "33369a46-075b-479c-a6ce-0b51b08b361f",
      "name": "Confirmar datos1",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $vars.SUPERLIKERS_BASE_URL + '/participants' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 8a728b9da584daac04ad176b03131dfe"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{$vars.SUPERLIKERS_API_KEY}}\",\n  \"campaign\": \"{{$vars.SUPERLIKERS_CAMPAIGN}}\",\n  \"query\": {\n    \"cellphone\": {{ $('Edit Fields').item.json.phone }}\"\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1472,
        576
      ],
      "id": "238951ab-99ad-40b2-89fd-7ebc4c010b16",
      "name": "Registrar participante",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "Dame tu Email.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -896,
        720
      ],
      "id": "a6ca675c-f748-4ee6-93ba-6ecdb802fd6e",
      "name": "Pedir foto",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "Envia la foto del tikect.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1312,
        576
      ],
      "id": "f6fa7a61-cb85-4ad5-bf94-f6426d952857",
      "name": "Pedir foto1",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "Dame tu Email.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -400,
        544
      ],
      "id": "3048b9b3-56f4-42f9-9dc1-a36a7972dc9c",
      "name": "Pedir nueva foto",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.WaId }}",
        "toWhatsapp": true,
        "message": "Dame tu Email.",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -16,
        384
      ],
      "id": "2cf798dd-0b6b-4036-b7a6-e21989522105",
      "name": "🎉 Ganaste puntos1",
      "credentials": {
        "twilioApi": {
          "id": "s6G3smszZcrigSC7",
          "name": "Twilio account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar participante": {
      "main": [
        [
          {
            "node": "Validar si existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Image": {
      "main": [
        [
          {
            "node": "Parse Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text": {
      "main": [
        []
      ]
    },
    "Guardar foto": {
      "main": [
        [
          {
            "node": "POST /photos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe sesión?": {
      "main": [
        [
          {
            "node": "Validar campo vacio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar email1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Confirmar datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Text1": {
      "main": [
        [
          {
            "node": "¿Factura legible?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Vision OCR": {
      "main": [
        [
          {
            "node": "Parse Text1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /photos": {
      "main": [
        [
          {
            "node": "🎉 Ganaste puntos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Factura legible?": {
      "main": [
        [
          {
            "node": "Guardar foto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pedir nueva foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Buscar sesion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar sesion": {
      "main": [
        [
          {
            "node": "Validar3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar3": {
      "main": [
        [
          {
            "node": "Buscar sesion2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar phone 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dame tu nombre": {
      "main": [
        [
          {
            "node": "Buscar participante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar telefono": {
      "main": [
        [
          {
            "node": "Dame tu nombre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar phone 10": {
      "main": [
        [],
        [
          {
            "node": "Guardar telefono",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar sesion2": {
      "main": [
        [
          {
            "node": "¿Existe sesión?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar nombre1": {
      "main": [
        [
          {
            "node": "Dame tu email.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dame tu email.": {
      "main": [
        []
      ]
    },
    "Guardar email1": {
      "main": [
        [
          {
            "node": "Dame tu email.1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar si existe": {
      "main": [
        [
          {
            "node": "Guardar distinct_id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "¿Existe sesión?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar campo vacio": {
      "main": [
        [
          {
            "node": "Guardar nombre1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Campo vacio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmar datos1": {
      "main": [
        [
          {
            "node": "Registrar participante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar participante": {
      "main": [
        [
          {
            "node": "Pedir foto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar distinct_id": {
      "main": [
        [
          {
            "node": "Pedir foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir foto": {
      "main": [
        [
          {
            "node": "Analyze Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir foto1": {
      "main": [
        [
          {
            "node": "GPT Vision OCR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎉 Ganaste puntos1": {
      "main": [
        [
          {
            "node": "step = completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5408f7c1-c7ab-4064-9fe6-4f1942dba9b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cca5b06260766944c413e282cec0d1fe42468bf6ebf1048568362e98babb6a47"
  },
  "nodeGroups": [],
  "id": "Uymu63xFJtVcCq7r",
  "tags": []
}